In [1]:
#write a program to print hello world
message = "Hello World!"
print(message)

Hello World!

In [3]:
#write a program to calculate sum of 4 numbers
a=2
b=5
c=7
d=9
sum=a+b+c+d
print(sum)

23

In [5]:
#Create a variables for storing a person name , age, and avg_score
name="radhika"
age="26"
avg_score="90"
print("Student name:", name)
print("Student age:", age ,"Years old") 
print("Student  IS :",avg_score)

Student name: radhika
Student age: 26 Years old
Student  IS : 90

In [7]:
#Write a python program to Concatenation two strings
a="iam radhika"
b="8 years old"
c=a+" "+b
print(c)

iam radhika 8 years old

In [9]:
#create a list of vegetables and access them using index
vegitables=["carrot","Brinjal","potato","tomato","beans","beetroot"]
vegitables[4]

'beans'

In [11]:
#Python Program to convert temperature in celsius to fahrenheit
# Temperature in celsius degree
celsius = 47
 
# Converting the temperature to
# fehrenheit using the formula
fahrenheit = (celsius * 1.8) + 32
 
# printing the result
print('%.2f Celsius is equivalent to: %.2f Fahrenheit'
      % (celsius, fahrenheit))

47.00 Celsius is equivalent to: 116.60 Fahrenheit

In [13]:
#write a python program to calculate area of rectangle by giving it length and width.
length=15
width=20
area=length*width
print(area)

300

In [15]:
#create list with numbers and identify max and min number in the list
list = [2,5,74,92,94,865,12,748,90]
a=min(list)
print("Minimum number list:", a)
b=max(list)
print("Maximum number list:", b)

Minimum number list: 2
Maximum number list: 865

In [21]:
#write a python program to check if a number is even.
num = int(input("enter the number even or odd: "))
if (num % 2) == 0:
   print("{0} is Even".format(num))
else:
   print("{0} is Odd".format(num))

enter the number even or odd:  2

2 is Even

In [23]:
#write a python program to check if a string is contains numeric or not.(IF it contains it print true or false)
a = "radhika" #unicode for 0
b = "flower" #unicode for Â²
c = "6"
d = "-1"
e = "1.5"

print(a.isnumeric())
print(b.isnumeric())
print(c.isnumeric())
print(d.isnumeric())
print(e.isnumeric())

False
False
True
False
False