In [ ]:
#string:
strings in python are surrounded by either single quotation marks, or double quotation marks.
'hello' is the same as "hello".

You can display a string literal with the print() function

In [1]:
print("Hello")
print('Hello')

Hello
Hello

In [ ]:
Quotes Inside Quotes
You can use quotes inside a string, as long as they don't match the quotes surrounding the string:

In [3]:
print("It's good")
print("He is called 'rude'")
print('He is called "rude"')

It's good
He is called 'rude'
He is called "rude"

In [ ]:
Assign String to a Variable
Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [5]:
a = "Hai"
print(a)

Hai

In [ ]:
Multiline Strings
You can assign a multiline string to a variable by using three quotes:

In [7]:
a="""You can assign a multiline string to a variable by using three quotes"""
print(a)

You can assign a multiline string to a variable by using three quotes

In [13]:
#asscessing elements in string
str=("iam learning python")
str[2]

'm'

In [15]:
word=("iam learning data science")
word[-9]

'a'

In [17]:
#by using slicing
word[5:]

'earning data science'

In [19]:
word[:23]

'iam learning data scien'

In [21]:
word[4:]

'learning data science'

In [ ]:
Python String format() Method 
The format() method formats the specified value(s) and insert them inside the string's placeholder.

The placeholder is defined using curly brackets: {}. Read more about the placeholders in the Placeholder section below.

The format() method returns the formatted string.
The Placeholders
The placeholders can be identified using named indexes {price}, numbered indexes {0}, or even empty placeholders {}.

In [27]:
txt1 = "My name is {fname}, I'm {age}".format(fname = "sai", age = 31)
txt2 = "My name is {0}, I'm {1}".format("sai",31)
txt3 = "My name is {}, I'm {}".format("sai",31)
print(txt1)
print(txt2)
print(txt3)

My name is sai, I'm 31
My name is sai, I'm 31
My name is sai, I'm 31

In [ ]:
Python String count() Method
Return the number of times the value "apple" appears in the string:

In [33]:
txt = "I love apples, apple are my favorite fruit"
a = txt.count("apple")

print(a)

2

In [ ]:
Python String lower() Method
Lower case the string

In [37]:
txt = "Hello HI FRIENDS"

a= txt.lower()

print(a)

hello hi friends

In [ ]:
Python String upper() Method
The upper() method returns a string where all characters are in upper case.

 Symbols and Numbers are ignored.
string.upper()

In [39]:
txt = "Hello HI FRIENDS"

a= txt.upper()

print(a)

HELLO HI FRIENDS

In [ ]:
Python String index() Method
The index() method finds the first occurrence of the specified value.

The index() method raises an exception if the value is not found.

The index() method is almost the same as the find() method, the only difference is that the find() method returns -1 if the value is not found. (See example below)
string.index(value, start, end)

In [41]:
txt = "Hello, welcome to my world."

x = txt.index("welcome")

print(x)

7